{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
<head>
  <style>
    .text{
      padding-left:280px;
      padding-right:280px;
      text-align: justify;
    }
    .title{
      text-align:left;
      padding-left:650px;
      padding-bottom:30px;
    }

    .img{
      float:right;
      clear: right;
    }

    .feature{
      background-blend-mode:lighten;

    }

    .d-title{
      margin-top:20px;
      padding-left:650px;

    }

  </style>
</head>

<body>

  <div id="home" class="container">
    <p>
      <br>
      <br>
      <p>
        CodeJam is a hackathon that enables students to test their practical skills in a supportive, engaging, 
        and, most of all, fun environment. Over the course of 36 hours, students will be challenged to brainstorm 
        innovative ideas, to solve difficult problems, and to create an awesome prototype. All the while, 
        students are supported by experienced mentors from companies such as your own. Our goal? To help give 
        students the confidence and skills they need to own their professional growth, and to provide them with 
        the industry connections necessary to accelerate that same growth.
      </p>
      <p>
        CodeJam is McGill University’s largest engineering competition, with participant counts over 250 each 
        year. We are supported by McGill’s Electrical, Computer, and Software Engineering Student Society — 
        a student society that represents 1000+ McGill Engineering students.
      </p>
      <br>
      <br>
    </p>

    <div class="row">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .image }}" /></div> {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">{{ .description }}</div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</body>

{{ .Content }}

{{ end }}
