{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
<head>
  <style>
    .text{
      padding-left:280px;
      padding-right:280px;
      text-align: justify;
    }
    .title{
      text-align:left;
      padding-left:650px;
      padding-bottom:30px;
    }
    
    .img{
      float:right;
      clear: right;
    }

    .feature{
      background-blend-mode:lighten;
      
    }

    .d-title{
      margin-top:20px;
      padding-left:650px;
      
    }
   
  </style>
</head>

<body>
  <br>
  <br>

  <div class="welcome">
  <h1 class="title">Our Mission </h1>
  
  <!--
  <img src= "../../images/about-icon.png" alt="computers" class="img" >
  -->
  <p class="text"> 
                  
    Since being founded in 2010, in association with McGill’s Electrical, 
    Computer and Software Engineering Student Society, Code.Jam() has become 
    the largest engineering hackathon at McGill. With over 500 participants, 
    we strive to provide an environment in which students can learn and grow
    as the next generation of engineers. Code.Jam() offers an opportunity for 
    its participants to apply their knowledge and experience to create innovative
    and effective solutions to real-life problems in various fields. Whether
    it be business insurance, investments, performing arts, or artificial intelligence,
    the hackathon exposes students to the engineering world. Various companies, such 
    as Intact Insurance, Morgan Stanley, Maya HTT, Cirque du Soleil and Wrnch.ai, have 
    provided insightful workshops, mentors and judges in the past two years. 
    <br>
    <br>
    During the 36-hour hackathon, students team up to brainstorm solutions to the problem at hand and 
    apply their ideas to come with relevant results. They then have the opportunity to present 
    their results to a set of industry leading judges and receive helpful and constructive 
    feedback from experts in the field. Beyond Code.Jam() being a way for students to put their skills to the test, 
    it gives them the chance to meet like-minded hackers and network with companies looking to hire
    the next generation of talented developers.
  </p>
  <br>

</div>

<div id="home" class="container">
  <div class="row">
    
    {{ range .Site.Data.features }}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .image }}" /></div> {{ end }}
        <h2 class="feature-title">{{ .title }}</h2>
        <div class="feature-content">{{ .description }}</div>
      </div>
    </div>
    {{end}}
  </div>
</div>


</body>

{{ .Content }}

{{ end }}
