{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
<head>
  <style>
    .text{
      padding-left:280px;
      padding-right:280px;
      text-align: justify;
    }
    .title{
      text-align:left;
      padding-left:650px;
      padding-bottom:30px;
    }

    .img{
      float:right;
      clear: right;
    }

    .feature{
      background-blend-mode:lighten;

    }

    .d-title{
      margin-top:20px;
      padding-left:650px;

    }

  </style>
</head>

<body>

  <div id="home" class="container">
    <p>
      <br>
      <br>
      Since being founded in 2010, in association with McGill’s Electrical, Computer and Software Engineering Student Society,
      Code.Jam() has become the largest engineering hackathon at McGill. With over 500 participants, we strive to provide an
      environment in which students can learn and grow as the next generation of engineers. Code.Jam() offers an opportunity
      for its participants to apply their knowledge and experience to create innovative and effective solutions to real-life
      problems in various fields. They then have the opportunity to present their results to a set of industry leading judges
      and receive helpful and constructive feedback from experts in the field.
      <br>
      <br>
    </p>

    <div class="row">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .image }}" /></div> {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">{{ .description }}</div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</body>

{{ .Content }}

{{ end }}
